*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Abel', sans-serif;
  background-color: white;
}

p {
  margin: 20px 0px;
}

ul li {
  list-style: none;
  border: 4px solid #0066ff;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  padding: 0px 32px;
  margin: 7.5px 7px;

  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 34.6738px;
  line-height: 44px;
  text-align: center;
}

.section {
  /* height: 100vh; */
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  /* padding: 0 372px; */
  padding: 0 8rem;
  margin: auto;
}

.reveal {
  position: relative;
  -webkit-transform: translateY(8rem);
  -ms-transform: translateY(8rem);
  transform: translateY(8rem);
  opacity: 0;
  -webkit-transition: 1s all ease;
  -o-transition: 1s all ease;
  transition: 1s all ease;
}

.reveal.active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.section__header {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 700;
  font-size: 111px;
  line-height: 145px;
  text-transform: lowercase;
  text-align: center;
  color: rgba(0, 102, 255, 0.4);
  margin: 0;
  position: relative;
}

svg:hover {
  fill: #0066ff;
}

h1 {
  /* // line-height: 1.35; */
  /* // font-style: normal; */
  text-align: center;
  margin: inherit;
  font-size: 80px;
}

h4 {
  font-size: medium;
}

/* HEADER */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding-bottom: 150px;
  /* // padding: 0 3rem; */
}

/* FEATURES */

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  /* // align-items: flex-end; */
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.contact {
  margin-right: 7.5px;
}
.contact__header {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 64px;
  text-align: right;
  padding: inherit;
  margin: 20px 0px;
}
.know__me {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  /* // font-size: 30px; */
  /* // line-height: 38px; */
  font-size: 30px;
  line-height: 40px;
  text-align: left;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  width: 492px;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: inherit;
  margin: 20px 0px;
  text-align: right;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 34px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 0 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0 34px;
  /* // margin: 0 325px; */
}

.about > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-row: 1;
  grid-column: 1;
}

.about > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-row: 1;
  grid-column: 3;
}

.about > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-row: 3;
  grid-column: 1;
}

.about > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-row: 3;
  grid-column: 3;
}

.about__header {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 64px;
  margin: 0;
  margin-top: 40px;
}

.about__skills {
  /* // margin-bottom: 1rem; */
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 64px;
  text-align: right;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.window {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 102, 255, 0.2);
  /* background-image: url("Assets/Images/GuessMyNumber.png"); */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: inherit;
  opacity: 50%;
}

/* SLIDER */
.slider {
  height: 50rem;
  /* margin: 0 auto; */
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-bottom: 10px;
  /* IN THE END */
  overflow: hidden;
}

.information {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 102, 255, 0.8);
  height: 85px;
  width: 100%;
  border-radius: 0 0 15px 15px;
  padding: 20px;

  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 40px;
  color: white;
}

.animation__in {
  -webkit-animation: in 0.35s ease-out 0s 1 normal forwards running;
  animation: in 0.35s ease-out 0s 1 normal forwards running;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

@-webkit-keyframes in {
  from {
    -webkit-transform: translateY(-35px);
    transform: translateY(-35px);
  }
  to {
    -webkit-transform: translateY(-85px);
    transform: translateY(-85px);
  }
}

@keyframes in {
  from {
    -webkit-transform: translateY(-35px);
    transform: translateY(-35px);
  }
  to {
    -webkit-transform: translateY(-85px);
    transform: translateY(-85px);
  }
}

.animation__out {
  -webkit-animation: out 0.2s ease-out 0s 1 normal forwards running;
  animation: out 0.2s ease-out 0s 1 normal forwards running;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

@-webkit-keyframes out {
  from {
    -webkit-transform: translateY(-85px);
    transform: translateY(-85px);
  }
  to {
    -webkit-transform: translateY(-35px);
    transform: translateY(-35px);
  }
}

@keyframes out {
  from {
    -webkit-transform: translateY(-85px);
    transform: translateY(-85px);
  }
  to {
    -webkit-transform: translateY(-35px);
    transform: translateY(-35px);
  }
}

.item {
  /* // border: solid 1px black; */
  border: none;
  border-radius: 15px;
  padding: inherit;
  margin: 10px;
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  /* THIS creates the animation! */
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

/* FOOTER */
.footer {
  padding: 2rem 1rem;
  /* background-color: #37383d; */
  background-color: black;
}

.footer__link {
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
}

.footer__link:hover {
  color: #0066ff;
}

.footer__copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 1.4rem;
}

/* MODAL WINDOW */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 72.5rem;
  height: auto;
  max-height: 90%;
  background-color: #f3f3f3;
  padding: 4rem 4rem 1rem 4rem;
  -webkit-box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin: inherit;
  overflow: auto;

  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-align: left;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal img {
  display: block;
  height: auto;
  width: inherit;
  margin-top: 1.5rem;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  z-index: 100;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0%;
}

.modal-link,
.modal-link:visited {
  /* display: block; */
  /* text-align: center; */
  text-decoration: none;
  color: #0066ff;
  border: 2px dashed #0066ff;
  border-radius: 10px;
  padding: 0.5rem;
}

.modal-link:hover {
  color: #ffb003;
  border: 2px dashed #ffb003;
}

.modal-link:active {
  color: #0066ff;
  border: 2px dashed #0066ff;
}

.author__up {
  position: relative;
  z-index: 1;
  width: 100%;
}

.title__down {
  position: relative;
  z-index: 1;
}

.author {
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 124px;
  -webkit-animation: 1s cubic-bezier(0, 0.1, 0.12, 0.99) 0s 1 normal forwards
    running author;
  animation: 1s cubic-bezier(0, 0.1, 0.12, 0.99) 0s 1 normal forwards running
    author;
  -webkit-transform: translateY(300px);
  -ms-transform: translateY(300px);
  transform: translateY(300px);
}

.title {
  margin: inherit;
  padding: inherit;
  position: relative;
  color: #0066ff;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
  -webkit-animation: 1s cubic-bezier(0, 0.1, 0.12, 0.99) 0.29s 1 normal forwards
    running title;
  animation: 1s cubic-bezier(0, 0.1, 0.12, 0.99) 0.29s 1 normal forwards running
    title;
  -webkit-transform: translateY(300px);
  -ms-transform: translateY(300px);
  transform: translateY(300px);
}

.white__animation__up {
  position: absolute;
  background-color: white;
  margin-right: 100%;
  width: 100%;
  height: 35vh;
  -webkit-animation: 0.5s linear 2s 1 normal forwards running whiteAnimationUp;
  animation: 0.5s linear 2s 1 normal forwards running whiteAnimationUp;
}

.white__animation__down {
  position: absolute;
  background-color: white;
  margin-right: 100%;
  width: 100%;
  height: 35vh;
  -webkit-animation: 0.5s linear 2s 1 normal forwards running whiteAnimationDown;
  animation: 0.5s linear 2s 1 normal forwards running whiteAnimationDown;
}

@-webkit-keyframes author {
  from {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes author {
  from {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes title {
  from {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes title {
  from {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes whiteAnimationUp {
  from {
    opacity: 1;
    height: 35vh;
  }
  to {
    opacity: 0;
    height: 0vh;
  }
}

@keyframes whiteAnimationUp {
  from {
    opacity: 1;
    height: 35vh;
  }
  to {
    opacity: 0;
    height: 0vh;
  }
}

@-webkit-keyframes whiteAnimationDown {
  from {
    opacity: 1;
    height: 35vh;
  }
  to {
    opacity: 0;
    height: 0vh;
  }
}

@keyframes whiteAnimationDown {
  from {
    opacity: 1;
    height: 35vh;
  }
  to {
    opacity: 0;
    height: 0vh;
  }
}

/* RESPONSIVE DESIGN! */

@media screen and (max-width: 1440px) {
  .section {
    padding: 0 2.5rem;
  }
  .about__header,
  .about__skills,
  .contact__header {
    font-size: 45px;
  }
  .know__me,
  ul li {
    font-size: 25px;
    line-height: 35px;
  }
  svg {
    width: 95px;
    height: 95px;
  }
  .slider {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-top: 40px;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 70px;
  }
  .author {
    font-size: 80px;
  }
  .title {
    font-size: 40px;
  }
  .about {
    display: block;
  }
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .slider {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-top: 40px;
  }
  .about__header {
    margin-bottom: 0;
  }

  .skills {
    margin-top: auto;
  }
  .contact {
    text-align: left;
  }
  .contact__header {
    text-align: left;
    margin-bottom: 0;
  }
  .icons {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .icons:first-of-type {
    margin-left: -10px;
  }
  ul li {
    font-size: 20px;
  }
  .item {
    height: 250px;
    width: 250px;
  }
  .information {
    font-size: 25px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 60px;
  }
  .author {
    font-size: 60px;
    height: 5rem;
  }
  .title {
    font-size: 30px;
  }
  .section__header {
    font-size: 100px;
  }
  .information {
    -webkit-animation: none;
    animation: none;
  }
  .window {
    -webkit-animation: none;
    animation: none;
  }
  .about__header {
    margin: 0;
    font-size: 30px;
    text-align: center;
  }
  .know__me p {
    font-size: 20px;
    line-height: 27px;
    padding: 1rem;
    width: auto;
    margin: 0 4rem;
    text-align: center;
  }
  .about__skills {
    margin: 0 4rem;
  }
  .skills {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .contact {
    width: 100vw;
    text-align: center;
  }
  .contact__header {
    text-align: center;
    font-size: 30px;
  }
  .icons:first-of-type {
    margin-left: 0;
  }
  .icons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  /* .modal {
    width: 90%;
  } */
  .about,
  .know__me {
    width: 100vw;
  }
  .section {
    padding: 0;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 40px;
  }
  header,
  main,
  footer {
    width: 100vw;
  }
  .modal {
    padding: 2rem;
  }
  .modal h1 {
    font-size: 25px;
  }
  .modal p {
    font-size: 20px;
    line-height: 27px;
    text-align: center;
  }
  .modal a {
    font-size: 20px;
    padding: 0.25rem;
  }
  .close-modal {
    font-size: 4rem;
    right: 1.3rem;
    top: 0.5rem;
  }
  .footer {
    padding: 1rem;
  }
  .author {
    font-size: 40px;
    height: 5rem;
  }
  .title {
    font-size: 20px;
  }
  .section {
    padding: 0 10px;
  }
  .section__header {
    font-size: 60px;
  }
  .about,
  .know__me {
    width: 100vw;
  }
  .item {
    margin: 15px;
  }
  .about__header {
    margin: 0;
    font-size: 30px;
    text-align: center;
  }
  .know__me p {
    font-size: 20px;
    line-height: 28px;
    padding: 1rem;
    width: auto;
    margin: 0;
  }
  .skills {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .contact {
    width: 100vw;
    text-align: center;
  }
  .contact__header {
    text-align: center;
    font-size: 30px;
  }
  .icons:first-of-type {
    margin-left: 0;
  }
  .icons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer__copyright,
  .footer__copyright .footer__link {
    font-size: 15px;
  }
}

@media screen and (max-width: 375px) {
  .section__header {
    font-size: 50px;
  }
  .author__up {
    height: 4rem;
  }
  .author {
    font-size: 34px;
  }
  .title {
    font-size: 20px;
  }
  svg {
    width: 80px;
  }
  .footer__copyright,
  .footer__copyright .footer__link {
    font-size: 12px;
  }
}
